<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head><title/></head>
    <body>
        <div th:fragment="lipid-adduct-card (idx, validationResult, nresults)">
            <div class="card my-2"> <!-- sec:authorize="isAuthenticated()">-->
                <div class="card-header" th:id="${'validationResult'+idx}">
                    <button type="button" class="btn btn-link" role="button" data-toggle="collapse" th:attr="data-target='#collapse'+${idx},aria-controls='collapse'+${idx}" aria-expanded="true"><span th:text="${validationResult.lipidName}">PC(32:0)</span></button>&nbsp;<span class="text-muted align-middle" th:if="${validationResult.lipidAdduct}" th:text="#{${validationResult.lipidAdduct.lipidLevel}}"></span>&nbsp;<span class="badge badge-secondary align-baseline" th:text="${validationResult.grammar}"></span>&nbsp;<th:block th:if="${validationResult.messages!=null && !validationResult.messages.isEmpty()}"><span class="badge badge-warning"><b>!</b></span></th:block><span class="badge badge-light align-baseline float-right" th:text="${idx+1}+'/'+${nresults}"></span>
                </div>
                <div th:id="${'collapse'+idx}" class="collapse" th:classappend="${idx==0?'show':''}" th:attr="aria-labelledby='validationResult'+${idx}" data-parent="#validationResultsCards">
                    <div class="card-body">
                        <form th:if="${validationResult}" th:object="${validationResult}">
                            <div class="form-group row" th:if="${validationResult.messages!=null && !validationResult.messages.isEmpty()}">
                                <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Additional messages."><strong>Validation messages</strong>&nbsp;</abbr></label>
                                <div class="col-sm-9" th:each="message : *{messages} ">
                                    <div class="alert alert-warning fade show my-2" role="alert">
                                        <span th:text="${message}">Message</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The Goslin normalized lipid name, without the adduct."><strong>Normalized Name</strong>&nbsp;</abbr></label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{normalizedName}"></input>
                                    <!-- <a th:href="@{'https://www.swisslipids.org/#/search/'+${validationResult.normalizedName}}">SwissLipids</a> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The original lipid name, as submitted.">Original Name&nbsp;</abbr></label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{lipidName}"></input>
                                    <!-- <a th:href="@{'https://www.swisslipids.org/#/search/'+${validationResult.normalizedName}}">SwissLipids</a> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The grammar used to parse the original lipid name.">Grammar&nbsp;</abbr></label>
                                <div class="col-sm-9">
                                    <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{grammar}"></input>
                                </div>
                            </div>

                            <form th:if="${validationResult.lipidAdduct}" th:object="${validationResult.lipidAdduct.lipid}">
                                <div th:if="${validationResult.lipidAdduct.adduct!=null}" class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Adduct.">Adduct</abbr></label>
                                    <div class="input-group col-sm-9">
                                        <input th:unless="${validationResult.lipidAdduct.adduct.getLipidString().isEmpty()}" type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="${validationResult.lipidAdduct.adduct.getLipidString()}"></input>
                                        <input th:if="${validationResult.lipidAdduct.adduct.getLipidString().isEmpty()}" type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="[M]"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Category within the LIPID MAPS&REG; hierarchy.">LIPID MAPS&REG; Category&nbsp;</abbr></label>
                                    <div class="input-group col-sm-9" th:if="${validationResult.lipidMapsCategory!=null and validationResult.lipidMapsCategory!='UNDEFINED'}">
                                        <div readonly="true" class="form-control-plaintext form-control-sm">
                                            <a target="_blank" th:href="@{'https://www.lipidmaps.org/data/structure/LMSDSearch.php?Mode=ProcessClassSearch&LMID=LM'+${validationResult.lipidMapsCategory}}" th:title="${'LM' + validationResult.lipidMapsCategory}"><span th:text="*{headGroup.lipidCategory.fullName+'&nbsp;['+headGroup.lipidCategory.name+']'}"></span>&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a>
                                        </div>
                                        <!--                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{lipidCategory.fullName+'&nbsp;['+lipidCategory+']'}"></input>
                                                                                <div class="input-group-append">
                                                                                    <a class="btn btn-sm btn-outline-primary" th:href="@{'https://www.lipidmaps.org/data/structure/LMSDSearch.php?Mode=ProcessClassSearch&LMID=LM'+${validationResult.lipidMapsCategory}}" target="_blank" th:title="${validationResult.lipidMapsCategory}"><span class="oi oi-external-link" aria-hidden="true"></span></a>
                                                                                </div>-->
                                    </div>
                                    <div class="col-sm-9" th:if="${validationResult.lipidMapsCategory==null or validationResult.lipidMapsCategory=='UNDEFINED'}">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{headGroup.lipidCategory.fullName+'&nbsp;['+headGroup.lipidCategory.name+']'}"></input>
                                    </div>
                                </div>
                                <div th:if="${validationResult.lipidMapsClass!=null}" class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Main or Subclass within the LIPID MAPS&REG; hierarchy.">LIPID MAPS&REG; Main or Sub Class&nbsp;</abbr></label>
                                    <div class="input-group col-sm-9" th:if="${validationResult.lipidMapsClass!=null}">
                                        <div readonly="true" class="form-control-plaintext form-control-sm">
                                            <a target="_blank" th:href="@{'https://www.lipidmaps.org/data/structure/LMSDSearch.php?Mode=ProcessClassSearch&LMID=LM'+${validationResult.lipidMapsClass}}" th:title="${validationResult.lipidMapsClass}"><span th:text="${T(org.lifstools.jgoslin.domain.LipidClasses).getInstance().get(validationResult.lipidAdduct.lipid.headGroup.lipidClass).description}"></span>&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-9" th:if="${validationResult.lipidMapsClass==null}">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{lipidClass.getLipidMapsClassName()}"></input>
                                    </div>
                                </div>
                                <div th:if="${validationResult.lipidMapsReferences!=null && validationResult.lipidMapsReferences.isPresent()}" class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Corresponding LIPID MAPS&REG; entries, based on the normalized lipid name. May contain synonyms.">LIPID MAPS&REG; Entries&nbsp;</abbr></label>
                                    <div class="col-sm-9" th:if="${validationResult.lipidMapsReferences.isPresent()}">
                                        <div readonly="true" class="form-control-plaintext form-control-sm form-control-dbhits">
                                            <th:block th:if="${validationResult.lipidMapsReferences.get().isEmpty()}"><abbr title="Not Available">N.A.</abbr></th:block>
                                            <ul class="list-group list-group-flush" th:unless="${validationResult.lipidMapsReferences.get().isEmpty()}" th:each="lipidMapsEntry, itemStat : ${validationResult.lipidMapsReferences.get()}">
                                                <li class="list-group-item list-item-dbhits"><a target="_blank" th:href="@{${lipidMapsEntry.databaseUrl}+${lipidMapsEntry.databaseElementId}}" th:title="${lipidMapsEntry.getDatabaseElementId()}"><span th:if="${lipidMapsEntry.getNativeAbbreviation()!=null && !lipidMapsEntry.getNativeAbbreviation().isEmpty()}" th:text="${lipidMapsEntry.getNativeAbbreviation()}"></span>&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${validationResult.swissLipidsReferences!=null && validationResult.swissLipidsReferences.isPresent()}" class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Corresponding SwissLipids entries, based on the normalized lipid name. May contain synonyms.">SwissLipids Entries&nbsp;</abbr></label>
                                    <div class="col-sm-9" th:if="${validationResult.swissLipidsReferences.isPresent()}">
                                        <div readonly="true" class="form-control-plaintext form-control-sm form-control-dbhits">
                                            <th:block th:if="${validationResult.swissLipidsReferences.get().isEmpty()}"><abbr title="Not Available">N.A.</abbr></th:block>
                                            <ul class="list-group list-group-flush" th:unless="${validationResult.swissLipidsReferences.get().isEmpty()}" th:each="swissLipidsEntry, itemStat : ${validationResult.swissLipidsReferences.get()}">
                                                <li class="list-group-item list-item-dbhits"><a target="_blank" th:href="@{${swissLipidsEntry.databaseUrl}+${swissLipidsEntry.databaseElementId}}" th:title="${swissLipidsEntry.getDatabaseElementId()}"><span th:if="${swissLipidsEntry.getNativeAbbreviation()!=null && !swissLipidsEntry.getNativeAbbreviation().isEmpty()}" th:text="${swissLipidsEntry.getNativeAbbreviation()}"></span>&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--                                <div th:if="${validationResult.lipidAdduct.lipid.lipidClass!=null}"class="form-group row">
                                                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Abbreviated name of the lipid head group.">Functional Class Abbreviation&nbsp;</abbr></label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{lipidClass}"></input>
                                                                    </div>
                                                                </div>
                                                                <div th:if="${validationResult.lipidAdduct.lipid.lipidClass!=null}"class="form-group row">
                                                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Synonyms of the lipid head group.">Functional Class Synonyms&nbsp;</abbr></label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{lipidClass.getSynonyms()}"></input>
                                                                    </div>
                                                                </div>-->
                            </form>
                            <form th:if="${validationResult.lipidAdduct!=null && validationResult.lipidAdduct.lipid.info!=null}" th:object="${validationResult.lipidAdduct.lipid.info}">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The structural level of this lipid.">Level&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="#{*{level}}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="*{numCarbon>0}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The total number of carbon atoms of all FA chains."># of C atoms&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{numCarbon}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="*{numCarbon>0 && nDoubleBonds>=0}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The total number of double bonds of all FA chains. May be the adjusted value in case of Plasmenyls."># of double bonds&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="*{nDoubleBonds}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:each="entry : ${validationResult.functionalGroupCounts}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr th:title="'The total number of '+ ${entry.key} +'.'" th:text="'# of '+${entry.key}+'&nbsp;'"></abbr></label>
                                    <div class="col-sm-9"><!--  -->
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="${entry.value}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="${validationResult.mass>0}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Calculated exact mass. May include lipid and adduct mass.">Exact Mass&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="${#numbers.formatDecimal(validationResult.mass, 1, 4)}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:if="${validationResult.sumFormula!=null and !validationResult.sumFormula.isEmpty()}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="Calculated sum formula. May include lipid and adduct elements.">Formula&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm sum-formula" th:value="${validationResult.sumFormula}"></input>
                                    </div>
                                </div>
                                <div class="form-group row" th:unless="${validationResult.lipidAdduct.lipid.faList != null and !validationResult.lipidAdduct.lipid.faList.isEmpty()}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The overall lipid to FA bond type.">FA bond type&nbsp;</abbr></label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="true" class="form-control-plaintext form-control-sm" th:value="#{*{lipidFaBondType}}"></input>
                                    </div>
                                </div>
                            </form>
                            <form th:if="${validationResult.lipidAdduct!=null && validationResult.lipidAdduct.lipid.faList!=null}" th:object="${validationResult.lipidAdduct.lipid}">
                                <div class="form-group row" th:if="*{faList != null and !faList.isEmpty() and !#strings.equals(info.level, 'SPECIES')}">
                                    <label class="col-sm-3 col-form-label col-form-label-sm"><abbr title="The fatty acyls attached to the lipid head group.">Fatty Acyls</abbr></label>
                                    <div class="col-sm-9">
                                        <table class="table table-striped table-sm table-responsive-sm table-fa">
                                            <thead>
                                                <th><abbr title="The name of the FA chain. Numbering starts from 1 and proceeds from left to right, e.g. FA1, FA2, ... . Long-chain-base sphingoid backbones are abbreviated as LCB. The next FA after an LCB would be FA1.">Name</abbr></th>
                                                <th><abbr title="The sn position of the FA chain w.r.t. the lipid head group">Position</abbr></th>
                                                <th><abbr title="The number of Carbon atoms within this FA chain"># C atoms</abbr></th>
                                                <th><abbr title="The number of double bonds within this FA chain"># Double bonds</abbr></th>
                                                <th><abbr title="The type of link between head group and FA chain.">HG&nbsp;<span class="oi oi-link-intact"></span>&nbsp;FA</abbr></th>
                                                <!--<th><abbr title="Lipid to FA bond type.">Lipid FA Bond Type</abbr></th>-->
                                                <th><abbr title="The double bond positions within this FA chain.">Double Bond Positions</abbr></th>
                                                <th><abbr title="The functional groups of the fatty acyl.">FA Functional Groups</abbr></th>
                                            </thead>
                                            <tbody>
                                                <tr th:each="element : *{faList} ">
                                                    <td th:text="${element.name}"></td>
                                                    <td th:if="${element.position==-1 || element.position==0}"><abbr title="Not Defined">N.D.</abbr></td>
                                                    <td th:if="${element.position>0}" th:text="${'sn'+(element.position)}"></td>
                                                    <!--<td th:text="${'sn'+(element.position)}"></td>-->
                                                    <td th:text="${element.numCarbon}"></td>
                                                    <td th:text="${element.nDoubleBonds}"></td>
                                                    <td th:text="#{${element.lipidFaBondType}}"></td>
                                                    <!--<td th:text="${element.lcb}"></td>-->
                                                    <!--<td th:unless="${element.type == T(org.lifstools.jgoslin.domain.FattyAcidType).ISOMERIC}"><abbr title="Not Defined">N.D.</abbr></td>-->
                                                    <td th:if="${element.nDoubleBonds == 0}"><abbr title="Not Defined">N.D.</abbr></td>
                                                    <td th:if="${element.nDoubleBonds > 0 && !element.doubleBonds.doubleBondPositions.isEmpty()}" th:text="${element.doubleBonds.doubleBondPositions}"></td>
                                                    <td th:if="${element.nDoubleBonds > 0 && element.doubleBonds.doubleBondPositions.isEmpty()}"><abbr title="Not Defined">N.D.</abbr></td>
                                                    <td th:if="${element.functionalGroups.isEmpty()}"><abbr title="Not Defined">N.D.</abbr></td>
                                                    <td th:unless="${element.functionalGroups.isEmpty()}" th:text="${T(org.lifstools.jgoslin.webapp.domain.ValidationResult).toFunctionalGroupString(validationResult.lipidAdduct, element)}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Normalize lipid names view -->
        <div th:fragment="validate-lipid-names-card">
            <div class="card my-2"> <!-- sec:authorize="isAuthenticated()">-->
                <div class="card-header">
                    Parse, Translate &amp; Normalize Lipid Names
                </div>
                <ul class="nav nav-tabs mx-3 mt-4" id="inputTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"  id="lipidNameInputFormCard-tab" data-toggle="tab" href="#lipidNameInputFormCard" role="tab" aria-controls="lipidNameInputFormCard" aria-selected="true">Lipid Name Input</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="lipidFileInputFormCard-tab" data-toggle="tab" href="#lipidFileInputFormCard" role="tab" aria-controls="lipidFileInputFormCard" aria-selected="false">Lipid File Input</a>
                    </li>
                </ul>
                <div class="tab-content" id="inputTabContent">
                    <div id="lipidNameInputFormCard" class="card-body tab-pane fade show active" role="tabpanel" aria-labelledby="lipidNameInputFormCard-tab">
                        <form th:if="${validationRequest != null}" class="needs-validation" enctype="multipart/form-data" name="uf" th:action="@{/validate}" th:object="${validationRequest}" method="POST">               
                            <div class="card my-2" th:if="${#fields.hasGlobalErrors()}">
                                <div class="card-header">Validation Errors</div>
                                <div class="card-body">
                                    <div th:each="e : ${#fields.detailedErrors()}" class="alert alert-danger my-2" role="alert">
                                        <h4 class="alert-heading" th:text="${e.global}? '*' : ${e.fieldName}">The field name</h4>
                                        <p th:text="${e.message}">The error message</p>
                                    </div>
                                </div>
                            </div>
                            <!--<fieldset>-->
                            <legend class="card-title">Enter individual lipid names</legend>
                            <!--</fieldset>-->
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" title="Normalize"><span class="oi oi-check" aria-hidden="true"></span>&nbsp;Normalize</button>
                                <button type="reset" class="btn btn-light" title="Reset Form"><span class="oi oi-reload" aria-hidden="true"></span>&nbsp;Reset Form</button>
                                <a href="/" th:href="@{/}" class="btn btn-danger float-right" title="Cancel"><span class="oi oi-x" aria-hidden="true"></span>&nbsp;Cancel</a>
                            </div>
                            <hr />
                            <div class="form-group">
                                <button type="button" class="addLipidNameRow btn btn-sm btn-outline-primary" title="Add input row"><span class="oi oi-plus"></span></button>
                                <button type="button" class="deleteLipidNameRow btn btn-sm btn-outline-danger" title="Remove input row"><span class="oi oi-minus"></span></button>
                                <button type="button" class="clearLipidNameInputRows btn btn-sm btn-outline-danger" title="Remove Input Rows"><span class="oi oi-collapse-up"></span></button>
                                <button type="button" class="reloadPage btn btn-sm btn-outline-primary" title="Reset to default Input Rows"><span class="oi oi-collapse-down"></span></button>
                                <div class="form-group form-check float-right">
                                    <input type="checkbox" class="form-check-input" id="skipInvalid1" title="Skip invalid names and proceed to results" th:field="*{skipInvalid}"></input>
                                    <label class="form-check-label" for="skipInvalid1">Skip invalid names</label>
                                </div>
                            </div>
                            <small id="pasteLipidsInputHelpBlock" class="form-text text-muted">
                                Enter individual lipid names on species or subspecies level, or paste multiple lipid names, separated by a new line from your clipboard <b>by left-clicking here</b> and hitting CTRL+V.
                            </small>
                            <div id="lipidsInput">
                                <div class="form-group lipids-input-row" th:each="lipidName, itemStat : *{lipidNames}">

                                    <div>
                                        <input type="text" class="form-control form-control-sm" th:field="*{lipidNames[__${itemStat.index}__]}" th:classappend="${not #lists.isEmpty(#fields.errors('lipidNames[__${itemStat.index}__]'))} ? is-invalid" required="true" />
                                        <div th:if="${#fields.hasErrors('lipidNames[__${itemStat.index}__]')}" th:errors="*{lipidNames[__${itemStat.index}__]}" class="help-block invalid-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <small id="usernameHelpBlock" class="form-text text-muted">
                                The lipid name, either on species or sub-species level, e.g. 'PC(32:0)', 'PC 32:0', 'PE 16:2/18:3;1', or 'PE(16:2(9Z,12Z)/18:1(6Z))' etc.
                            </small>
                            <div class="form-group">
                                <button type="button" class="addLipidNameRow btn btn-sm btn-outline-primary" title="Add input row"><span class="oi oi-plus"></span></button>
                                <button type="button" class="deleteLipidNameRow btn btn-sm btn-outline-danger" title="Remove input row"><span class="oi oi-minus"></span></button>
                                <button type="button" class="clearLipidNameInputRows btn btn-sm btn-outline-danger" title="Remove Input Rows"><span class="oi oi-collapse-up"></span></button>
                                <button type="button" class="reloadPage btn btn-sm btn-outline-primary" title="Reset to default Input Rows"><span class="oi oi-collapse-down"></span></button>
                            </div>
                            <hr />
                            <!--</fieldset>-->
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" title="Normalize"><span class="oi oi-check" aria-hidden="true"></span>&nbsp;Normalize</button>
                                <button type="reset" class="btn btn-light" title="Reset Form"><span class="oi oi-reload" aria-hidden="true"></span>&nbsp;Reset Form</button>
                                <a href="/" th:href="@{/}" class="btn btn-danger float-right" title="Cancel"><span class="oi oi-x" aria-hidden="true"></span>&nbsp;Cancel</a>
                            </div>
                        </form>
                    </div>
                    <div id="lipidFileInputFormCard" class="card-body tab-pane fade" role="tabpanel" aria-labelledby="lipidFileInputFormCard-tab">
                        <form class="needs-validation" enctype="multipart/form-data" name="uf" th:action="@{/validatefile}" th:object="${validationFileRequest}" method="POST">               
                            <div class="card my-2" th:if="${#fields.hasGlobalErrors()}">
                                <div class="card-header">Validation File Errors</div>
                                <div class="card-body">
                                    <div th:each="e : ${#fields.detailedErrors()}" class="alert alert-danger my-2" role="alert">
                                        <h4 class="alert-heading" th:text="${e.global}? '*' : ${e.fieldName}">The field name</h4>
                                        <p th:text="${e.message}">The error message</p>
                                    </div>
                                </div>
                            </div>
                            <!--<fieldset>-->
                            <legend class="card-title">Upload a text file with one lipid name per row</legend>
                            <div class="form-row">
                                <div class="col-sm-5">  
                                    <label for="file" class="col-form-label">File with lipid names to validate</label>
                                </div>
                                <div class="col-sm-7">
                                    <input id="file" class="no-gutters form-control-file" name="file" type="file" th:field="*{file}" required/>
                                </div>
                                <div class="col-sm-12">
                                    <small id="fileHelpBlock" class="form-text text-muted">Select a local file to upload and validate.<th:block th:if="${page!=null}"> Size limit is <span th:text="${page.maxFileSize}"></span><th:block>.</small>
                                                </div>
                                                </div>
                                                <small id="usernameHelpBlock" class="form-text text-muted">
                                                    <!--The lipid name, either on species or sub-species level, e.g. 'PC(32:0)', 'PC 32:0', 'PE 16:2/18:3;1', or 'PE(16:2(9Z,12Z)/18:1(6Z))' etc.-->
                                                </small>
                                                <hr />
                                                <!--</fieldset>-->
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary" title="Normalize"><span class="oi oi-check" aria-hidden="true"></span>&nbsp;Normalize</button>
                                                    <button type="reset" class="btn btn-light" title="Reset Form"><span class="oi oi-reload" aria-hidden="true"></span>&nbsp;Reset Form</button>
                                                    <a href="/" th:href="@{/}" class="btn btn-danger float-right" title="Cancel"><span class="oi oi-x" aria-hidden="true"></span>&nbsp;Cancel</a>
                                                </div>
                                                </form>
                                                </div>
                                                <!--<hr />-->

                                                </div>
                                                </div>
                                                </div>
                                                <!-- Show validated lipid name results -->
                                                <div th:fragment="validate-lipid-names-result-card">
                                                    <div class="card my-2"> <!-- sec:authorize="isAuthenticated()"> -->
                                                        <div class="card-header">
                                                            <span class="align-middle">Normalized Lipid Names</span>
                                                            <a th:unless="${validationResults.results==null || #lists.size(validationResults.results)==0}" href="#" th:href="@{/download/{userSessionId}/{validationResultsTsv}(userSessionId=${userSessionId},validationResultsTsv=${validationResultsTsv})}" id="downloadTsvTop" class="btn btn btn-primary btn-sm float-right" title="Save TSV"><span class="oi oi-data-transfer-download" aria-hidden="true"></span>&nbsp;Download</a>
                                                        </div>
                                                        <div class="card-body">
                                                            <form th:if="${validationResults != null}" name="uf" th:object="${validationResults}" id="validationResultsCards">
                                                                <div th:if="${validationResults.results==null || #lists.size(validationResults.results)==0}">
                                                                    <div class="alert alert-warning my-2" role="alert">
                                                                        <span>No translated names were received. Please click on 'Dismiss' to return to the submission form.</span>
                                                                    </div>
                                                                </div>
                                                                <div th:each="validationResult, itemStat : *{results}">
                                                                    <div th:replace="::lipid-adduct-card (idx=${itemStat.index}, validationResult=${validationResult}, nresults=${#lists.size(validationResults.results)})"></div>
                                                                </div>
                                                                <div class="form-actions">
                                                                    <a th:unless="${validationResults.results==null || #lists.size(validationResults.results)==0}" href="#" th:href="@{/download/{userSessionId}/{validationResultsTsv}(userSessionId=${userSessionId},validationResultsTsv=${validationResultsTsv})}" id="downloadTsv" class="btn btn btn-primary" title="Save TSV"><span class="oi oi-data-transfer-download" aria-hidden="true"></span>&nbsp;Download</a>
                                                                    <a href="/" th:href="@{/}" class="btn btn-danger float-right" title="Cancel"><span class="oi oi-x" aria-hidden="true"></span>&nbsp;Dismiss</a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                </body>
                                                </html>
