<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head><title/></head>
    <body>
        <!-- user warning messages -->
        <div th:fragment="user-warnings">
            <div th:if="${param.error}" class="alert alert-danger">    
                Invalid credentials.<br />
                Please <a href="https://lifs.isas.de/support.html" target="_blank" title="Contact LIFS Support">contact support</a> if you need help to resolve the issue.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"> 
                You have been logged out.
            </div>
            <div sec:authorize="isAuthenticated() and not hasRole('ROLE_USER')" class="alert alert-warning" role="alert">
                You are correctly authenticated but lack the 'USER' role for this application.<br />
                Please <a href="https://lifs.isas.de/support.html" target="_blank" title="Contact LIFS Support">contact support</a> to request access to this application.
            </div>
        </div>
        <!-- Login View -->
        <div th:fragment="login-card">
            <div class="card my-2">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form sec:authorize="not isAuthenticated()" name="f" th:action="@{/login}" method="post">
                        <fieldset>
                            <legend class="card-title">Please login to access this application!</legend>
                            <div class="form-group">
                                <label for="username" class="col-form-label">Username</label>
                                <input type="text" id="username" class="form-control form-control-sm" name="username" autofocus="autofocus"/> 
                                <small id="usernameHelpBlock" class="form-text text-muted">
                                    Your application user name, e.g. 'joeuser'.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" id="password" class="form-control form-control-sm" name="password"/>  
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your application password.
                                </small>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <a href="https://lifs.isas.de/support.html" class="btn btn-light float-right"><span class="oi oi-lock-unlocked" aria-hidden="true"></span>&nbsp;Request Access</a>
                        </div>
                    </form>
                    <div sec:authorize="isAuthenticated()" class="alert alert-success">
                        <p>You are logged in as '<span sec:authentication="name">USER</span>'.</p>
                        <p>You have the following application roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></p>
                        <p th:if="${page!=null}">Please go to your <a th:href="${page.lifsUserUrl}">user management page</a> to change your user password and to inspect your LIFS application roles.</p>
                    </div>
                    <div sec:authorize="isAuthenticated() and not hasRole('ROLE_USER')" class="alert alert-warning">
                        You are correctly authenticated but lack the 'USER' role for this application.<br />
                        Please <a href="https://lifs.isas.de/support.html" target="_blank" title="Contact LIFS Support">contact support</a> to request access to this application.
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
