<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head><title/></head>
    <body>
        <div th:fragment="manual">
            <div class="card my-2">
                <div class="card-body">
                    <div>
                        <h4 id="user-content-lipid-shorthand-nomenclature-grammars"><a id="user-content-2-lipid-shorthand-nomenclature-grammars" class="anchor" aria-hidden="true" href="#2-lipid-shorthand-nomenclature-grammars"></a>Lipid Shorthand Nomenclature Grammars</h4>
                        <p>Goslin uses ANTLRv4 compatible context-free EBNF grammars. All Goslin implementations use a
                            generic recursive decent parser (see <a href="https://en.wikipedia.org/wiki/Context-free_language" rel="nofollow" target="_blank">Context-free language</a>, <a href="https://en.wikipedia.org/wiki/LL_parser" rel="nofollow" target="_blank">LL parser</a>, <a href="https://www.antlr.org/about.html" rel="nofollow" target="_blank">ANTLRv4</a>).</p>
                        <p>These grammars (*.g4 files) are available from our Goslin GitHub repository at <a href="https://github.com/lifs-tools/goslin">https://github.com/lifs-tools/goslin</a>.</p>
                        <h4 id="user-content-hierarchical-representation-of-lipids"><a id="user-content-3-hierarchical-representation-of-lipids" class="anchor" aria-hidden="true" href="#3-hierarchical-representation-of-lipids"></a>Hierarchical Representation of Lipids</h4>
                        <p>The grammars model lipids as hierarchically structured bits of information.
                            We do not model the lipid category or main class explicitly, but rather keep them in a global lookup table data structure, derived from the <a href="https://github.com/lifs-tools/goslin/blob/master/lipid-list.csv" target="_blank"><code>lipid-list.csv</code></a> file for reference.
                            This allows us to keep the grammars clutter-free and makes them easier to read.</p>
                        <p>The structural classification of lipids follows the shorthand notation recently updated by Liebisch et al. and is compatible to that of LIPID MAPS. The following example shows the hierarchical representation of PE 16:1(6Z)/16:0;5OH[R],8OH;3oxo:</p>

                        Table 1. Structural hierarchy representation of PE 16:1(6Z)/16:0;5OH[R],8OH;3oxo). LM: LIPID MAPS, HG: Head Group, FA: Fatty Acyl
                        <table><tbody>
                                <tr>
                                    <td><p><strong>Level</strong></p></td>
                                    <td><p><strong>Name</strong></p></td>
                                    <td><p><strong>Description</strong></p></td>
                                </tr>
                                <tr>
                                    <td><p>Category (LM)</p></td>
                                    <td><p>Glycerophospholipids (GP)</p></td>
                                    <td><p>Lipid category</p></td>
                                </tr>
                                <tr>
                                    <td><p>Class (LM)</p></td>
                                    <td><p>Glycerophosphoethanolamine (PE) GP02</p></td>
                                    <td><p>Lipid class</p></td>
                                </tr>
                                <tr>
                                    <td><p>Species (LM Subclass)</p></td>
                                    <td><p>Phosphatidylethanolamine, PE 32:2;O3</p></td>
                                    <td><p>HG, FA summary, two double bond equivalents, three oxidations</p></td>
                                </tr>
                                <tr>
                                    <td><p>Molecular species</p></td>
                                    <td><p>PE 16:1_16:1;O3</p></td>
                                    <td><p>HG, two FAs, two double bond equivalents, three oxidations</p></td>
                                </tr>
                                <tr>
                                    <td><p><i>sn</i>-Position</p></td>
                                    <td><p>PE 16:1/16:1;O3</p></td>
                                    <td><p>HG, SN positions, here: for FA1 at sn1 and FA2 at sn2, two double bond equivalents, three oxidations</p></td>
                                </tr>
                                <tr>
                                    <td><p>Structure defined</p></td>
                                    <td><p>PE 16:1(6)/16:1;(OH)2;oxo</p></td>
                                    <td><p>HG, SN positions, here: for FA1 at sn1 and FA2 at sn2, three oxidations and unspecified stereo configuration (6) on FA1</p></td>
                                </tr>
                                <tr>
                                    <td><p>Full structure</p></td>
                                    <td><p>PE 16:1(6Z)/16:1;5OH,8OH;3oxo</p></td>
                                    <td><p>HG, SN positions, here: for FA1 at sn1 and FA2 at sn2, positions for oxidations and stereo configuration (6Z) on FA1</p></td>
                                </tr>
                                <tr>
                                    <td><p>Complete structure</p></td>
                                    <td><p>PE 16:1(6Z)/16:0;5OH[R],8OH;3oxo</p></td>
                                    <td><p>HG, SN positions, here: for FA1 at sn1 and FA2 at sn2, positions for oxidations and stereo configuration ([R]) and double bond position and stereo configuration (6Z) on FA1</p></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Please see <a href="https://github.com/lifs-tools/goslin/tree/master/docs#9-goslin-object-model" target="_blank" title="The Goslin object model">the Goslin object model</a> for an overview of the Goslin domain model which is used to represent the structural hierarchy by the different implementations.</p>
                    </div>
                    <h4 class="card-title" id="user-content-sec:webserviceusers">Web Application and REST API</h4>
                    <div>
                        <h4 id="user-content-interactive-usage">Interactive Usage</h4>
                        <p>The interactive&nbsp;goslin web application is available
                            at&nbsp;<a href="https://apps.lifs-tools.org/goslin" rel="nofollow">https://apps.lifs-tools.org/goslin</a>. It provides two forms to i) upload
                            a file containing one lipid name per line (see <a href="#fig:goslin-webapp-form-01">Figure 1.</a>), or ii)
                            upload a list of lipid names, defined by the user in an interactive form
                            (see <a href="#fig:goslin-webapp-form-02">Figure 2</a>). The
                            latter form also allows pasting lists of lipid names directly from the
                            clipboard with&nbsp;<code>CTRL+V</code>. Both forms provide feedback for issues
                            concerning every processed lipid, such as invalid names or typos (see <a href="#fig:goslin-webapp-form-02a">Figure 3.</a>), to
                            allow the user to cross-check their data before proceeding.</p>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-form-01" ><img th:src="@{/img/goslin-webapp-form-01.png}" alt="SubmissionForm1" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 1.</b>&nbsp;Goslin web application submission form for text files with one lipid name per row.</figcaption>
                        </figure>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-form-02"><img th:src="@{/img/goslin-webapp-form-02.png}" alt="SubmissionForm2" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 2.</b>&nbsp;Goslin web application submission form for user-defined lipid names.</figcaption>
                        </figure>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-form-02a"><img th:src="@{/img/goslin-webapp-form-02a.png}" alt="SubmissionForm3" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 3.</b>&nbsp;Goslin web application submission form for user-defined lipid names provides feedback for unknown or unsupported names and parts thereof.</figcaption>
                        </figure>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-form-03" ><img th:src="@{/img/goslin-webapp-result-03.png}" alt="ResultForm" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 4.</b>&nbsp;Parsing results are displayed as ’cards’ for every lipid name. Clicking on a card opens it and shows details of the according lipid.</figcaption>
                        </figure>
                        <p>After successful validation, the validated lipids are returned in
                            overview cards (see <a href="#fig:goslin-webapp-form-03">Figure 4.</a>),
                            detailing their LIPID MAPS&REG; classification, cross-links to SwissLipids
                            and/or LIPID MAPS&REG;. Additionally, the cards show summary
                            information about the number of carbon atoms, double bonds,
                            hydroxylations and detailed information, such as double bond position,
                            long-chain-base status, and the bond type of the fatty acyl to the head
                            group for each fatty acyl, if available (see <a href="#fig:goslin-webapp-form-04" >Figure 5.</a>).</p>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-form-04" ><img th:src="@{/img/goslin-webapp-result-detail-04.png}" alt="ResultDetail" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 5.</b>&nbsp;Each result card displays summary and detail information about a lipid. Depending on the lipid level, this can include information about each individual fatty acyl. Cross-links to SwissLipids and LIPID MAPS&REG; are shown where a normalized lipid name could be matched unambiguously against the normalized names of SwissLipids and / or LIPID MAPS&REG; lipids.</figcaption>
                        </figure>
                        <p>Finally, it is also possible to download the translated list of lipid names and their properties as a tab-separated file, by clicking on the <em>Download</em> button. Depending on the lipid level, undefined sn positions of regular lipids will be reported as "-1" in the table and as "0" for solitary fatty acids.</p>
                        <hr/>
                        <p>The source code for the web application and instructions to build it as
                            a Docker container are available at
                            <a href="https://github.com/lifs-tools/goslin-webapp">https://github.com/lifs-tools/goslin-webapp</a> under the terms of the open
                            source Apache license version 2.</p>
                    </div>
                    <hr/>
                    <div>
                        <h4 id="user-content-programmatic-access-via-the-rest-api">Programmatic access via the REST API</h4>
                        <div>
                            <p>An interactive documentation for the rest api of the goslin web
                                application is available at
                                <a href="https://apps.lifs-tools.org/goslin/swagger-ui.html" rel="nofollow">https://apps.lifs-tools.org/goslin/swagger-ui.html</a> (see <a href="#fig:goslin-webapp-rest-05">Figure 6.</a>). To
                                illustrate its usage, we will briefly show a small example how a user
                                can access the rest api with a standard http client.</p>
                        </div>
                        <figure class="figure">
                            <a id="fig:goslin-webapp-rest-05" ><img th:src="@{/img/goslin-webapp-rest-05.png}" alt="RESTForm" style="max-width:100%;"/></a>
                            <figcaption class="figure-caption"><b>Figure 6.</b>&nbsp;The goslin web application provides an interactive documentation for its rest api to simplify programmatic access.</figcaption>
                        </figure>
                        <div>
                            <p>The Structure for the request consists of a json object&nbsp;\{} enclosing
                                two lists, with the names <code>lipidNames</code> and <code>grammars</code>. Acceptable values
                                for <code>grammars</code> are: <code>LIPIDMAPS</code>, <code>GOSLIN</code>, <code>SHORTHAND</code>, <code>FATTY_ACID</code>, 
                                <code>SWISSLIPIDS</code>, and <code>HMDB</code>. A complete list is available from the
                                interactive rest api documentation’s <code>Models</code> section under
                                <code>ValidationRequest</code>. The available grammars may also be retrieved by the <a th:href="@{/swagger-ui/#/lipid-grammars/grammarsUsingGET}">grammars</a> method. Both fields in the <code>ValidationRequest</code> accept
                                comma-separated entries, enclosed in double quotes:</p>
                        </div>
                        <div>
                            <div>
                                <pre>  {
      "lipidNames": [
        "Cer(d18:1/16:1(6Z))"
      ],
      "grammars": [
        "LIPIDMAPS"
      ]
  }</pre>
                            </div>
                        </div>
                        <div>
                            <p>Sending the http POST request with <code>curl</code> as an http client looks as
                                follows:</p>
                        </div>
                        <div>
                            <div>
                                <pre>  curl -X POST "https://apps.lifs-tools.org/goslin/rest/validate" -H  "accept: */*" -H  "Content-Type: application/json" -d "{  \"lipidNames\": [    \"Cer(d18:1/16:1(6Z))\"  ],  \"grammars\": [    \"LIPIDMAPS\"  ]}"</pre>
                            </div>
                        </div>
                        <div>
                            <p>The rest api will return the following result for the request, with a
                                http response code of 200 (OK). This result returns a map of properties
                                for each lipid name that was parsed. If at least one name is not
                                parseable, the rest api will return a response code of 400 (Client
                                error), together with the same results reponse object. In that case, the
                                <code>failedToParse</code> field in the response will contain the number of lipid
                                names that could not be parsed. For those results where no grammar was
                                applicable, the <code>grammar</code> field will contain the string
                                <code>NOT_PARSEABLE</code>.¸In other cases, that field will contain the last
                                grammar used to parse the lipid name and the <code>messages</code> field will
                                contain a list of validation messages that help to narrow down the
                                offending bits in the lipid name.</p>
                        </div>
                        <div>
                            <div>
                                <pre><code class="language-json">
{
  "results": [
    {
      "lipidName": "Cer(d18:1/16:1(6Z))",
      "grammar": "LIPIDMAPS",
      "messages": [],
      "lipidAdduct": {
        "lipid": {
          "headGroup": {
            "headgroup": "Cer",
            "lipidCategory": "SP",
            "lipidClass": 29,
            "className": "Cer"
          },
          "info": {
            "name": "info",
            "position": 0,
            "count": 1,
            "doubleBonds": {
              "numDoubleBonds": 2,
              "doubleBondPositions": {}
            },
            "functionalGroups": {
              "OH": [
                {
                  "name": "OH",
                  "position": -1,
                  "count": 2,
                  "doubleBonds": {
                    "numDoubleBonds": 0,
                    "doubleBondPositions": {}
                  },
                  "functionalGroups": {},
                  "ndoubleBonds": 0
                }
              ]
            },
            "numCarbon": 34,
            "lipidFaBondType": "LCB_EXCEPTION",
            "level": "SN_POSITION",
            "numEthers": 0,
            "numSpecifiedFa": 1,
            "totalFa": 2,
            "extendedClass": "ESTER",
            "lipidClass": 29,
            "ndoubleBonds": 2
          },
          "faList": [
            {
              "name": "LCB",
              "position": 1,
              "count": 1,
              "doubleBonds": {
                "numDoubleBonds": 1,
                "doubleBondPositions": {}
              },
              "functionalGroups": {
                "OH": [
                  {
                    "name": "OH",
                    "position": -1,
                    "count": 2,
                    "doubleBonds": {
                      "numDoubleBonds": 0,
                      "doubleBondPositions": {}
                    },
                    "functionalGroups": {},
                    "ndoubleBonds": 0
                  }
                ]
              },
              "numCarbon": 18,
              "lipidFaBondType": "LCB_EXCEPTION",
              "ndoubleBonds": 1
            },
            {
              "name": "FA1",
              "position": 2,
              "count": 1,
              "doubleBonds": {
                "numDoubleBonds": 1,
                "doubleBondPositions": {
                  "6": "Z"
                }
              },
              "functionalGroups": {},
              "numCarbon": 16,
              "lipidFaBondType": "ESTER",
              "ndoubleBonds": 1
            }
          ],
          "lipidLevel": "SN_POSITION",
          "lipidString": "Cer 18:1;O2/16:1",
          "extendedClass": "Cer"
        },
        "adduct": null,
        "className": "Cer",
        "lipidLevel": "SN_POSITION",
        "extendedClass": "Cer",
        "lipidString": "Cer 18:1;O2/16:1",
        "mass": 535.4964451650001,
        "sumFormula": "C34H65NO3"
      },
      "functionalGroupCounts": {
        "OH": 2
      },
      "normalizedName": "Cer 18:1;O2/16:1",
      "lipidMapsCategory": "SP",
      "lipidMapsClass": "SP02",
      "mass": 535.4964451650001,
      "sumFormula": "C34H65NO3",
      "lipidMapsReferences": [],
      "swissLipidsReferences": []
    }
  ],
  "totalReceived": 1,
  "totalParsed": 1,
  "failedToParse": 0
}
</code></pre>
                            </div>
                        </div>
                        <div>
                            <p>The response part also reports the normalized name (<code>goslinName</code>), as
                                well as classification information using the LIPID MAPS&REG; category and
                                class associated to the parsed lipid.</p>
                        </div>
                        <div>
                            <div>
                                <pre><code>
...
"normalizedName": "Cer 18:1;O2/16:1",
"lipidMapsCategory": "SP",
"lipidMapsClass": "SP02",
"mass": 535.4964451650001,
"sumFormula": "C34H65NO3",
...
</code></pre>
                            </div>
                        </div>
                        <div>
                            <p>The response also reports information on the fatty acyls detected in the
                                lipid name. In this case, a Ceramide with a long-chain base and an additional fatty acyl has been detected. The
                                name given here as an example was classified on SN_position level, since the lcb contains one double bond, but without positional
                                E/Z information. The fatty acyl FA1 at the sn2 position does report E/Z
                                information for its double bond.</p>
                        </div>
                        <div>
                            <div>
                                <pre><code>
...
"faList": [
  {
    "name": "LCB",
    "position": 1,
    "count": 1,
    "doubleBonds": {
      "numDoubleBonds": 1,
      "doubleBondPositions": {}
    },
    "functionalGroups": {
      "OH": [
        {
          "name": "OH",
          "position": -1,
          "count": 2,
          "doubleBonds": {
            "numDoubleBonds": 0,
            "doubleBondPositions": {}
          },
          "functionalGroups": {},
          "ndoubleBonds": 0
        }
      ]
    },
    "numCarbon": 18,
    "lipidFaBondType": "LCB_EXCEPTION",
    "ndoubleBonds": 1
  },
  {
    "name": "FA1",
    "position": 2,
    "count": 1,
    "doubleBonds": {
      "numDoubleBonds": 1,
      "doubleBondPositions": {
        "6": "Z"
      }
    },
    "functionalGroups": {},
    "numCarbon": 16,
    "lipidFaBondType": "ESTER",
    "ndoubleBonds": 1
  }
],
...                                    
</code></pre>
                                
                            </div>
                        </div>
                        <div>
                            <p>Finally, the response reports the total number lipid names received, the
                                total number parsed and the total number of parsing failures.</p>
                        </div>
                        <div>
                            <div>
                                <pre><code>
...
"totalReceived": 1,
"totalParsed": 1,
"failedToParse": 0
...                                    
</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
