<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head><title/></head>
    <body>
        <header class="masthead clearfix" th:fragment="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="navbar-brand text-muted"><small th:if="${page != null && page.appVersion !=null}" th:text="${page.appVersion}">0.0.0</small><small th:if="${page == null || page.appVersion ==null}">0.0.0</small></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" th:href="@{/}" title="Home"><span class="oi oi-home" aria-hidden="true"></span>&nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentation" th:href="@{/documentation}"><span class="oi oi-book" aria-hidden="true"></span>&nbsp;Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/swagger-ui/" th:href="@{/swagger-ui/}" title="REST API"><span class="oi oi-script" aria-hidden="true"></span>&nbsp;REST API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="${page.scmUrl}" href="https://github.com/lifs-tools/goslin-webapp" target="_blank" title="Source code"><span class="oi oi-code" aria-hidden="true"></span>&nbsp;Source</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://lifs-tools.org/further-information.html" target="_blank" title="Imprint and Privacy Policy"><span class="oi oi-shield" aria-hidden="true"></span>&nbsp;Imprint and Privacy Policy</a>
                        </li>
                    </ul>
                    <div class="btn-group float-right" role="group">
                        <a type="button" class="btn btn-secondary float-right" href="https://lifs-tools.org" title="LIFS Application Portal"><span class="oi oi-grid-four-up" aria-hidden="true"></span></a>
                        <a type="button" class="btn btn-info float-right" href="https://lifs-tools.org/support.html" target="_blank" title="Help"><span class="oi oi-question-mark" aria-hidden="true"></span></a>
                    </div>
                </div> 
            </nav>
            <noscript>
            <div th:if="${page != null and page.gaId != null}" class="alert alert-success alert-dismissible fade show my-2">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="tracking-optIn">
                    <span aria-hidden="true">&times;</span>
                </button>
                <iframe class="col-md-12" style="border: 0;" th:src="${'https://lifs-tools.org/matomo/index.php?module=CoreAdminHome&action=optOut&idsite='+page.gaId}"></iframe> 
                <a class="btn btn-secondary" href="https://lifs-tools.org/further-information.html" target="_blank" title="Imprint and privacy policy" th:text="#{tracking.privacy}">Privacy Policy</a>
            </div>
            </noscript>
            <div th:replace="fragments/nav-utils::system-message"></div>
            <div th:replace="fragments/nav-utils::user-message"></div>
            <div th:replace="fragments/nav-utils::user-warnings"></div>
        </header>
    </body>
</html>
