<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div th:fragment="news">
            <div class="card flex-md-row mb-2" th:if="${news != null && !news.isEmpty()}">
                <div class="card-body">
                    <h4 class="card-title">News and Updates</h4>
                    <ul class="timeline" id="#timeline">
                        <li th:each="newsEntry, itemStat : ${news}">
                            <div class="card timeline-card">
                                <div class="timeline-arrow"></div>
                                <div class="card-header" th:id="${'news'+itemStat.index}">
                                        <button type="button" class="btn btn-link" role="button" data-toggle="collapse" th:attr="data-target='#newsEntry'+${itemStat.index},aria-controls='newsEntry'+${itemStat.index}" aria-expanded="true" th:text="${newsEntry.title}">Added adducts, masses and sum formulas</button><a class="btn btn-link float-right" role="button" href="#" th:href="@{${newsEntry.link}}"><span th:text="${newsEntry.date}">v1.0.19 - May 12th, 2020</span>&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a>
                                </div>
                                <div th:id="${'newsEntry'+itemStat.index}" class="collapse" th:classappend="${itemStat.index==0?'show':''}" th:attr="aria-labelledby='news'+${itemStat.index}"><!-- data-parent="#timeline">-->
                                    <div class="card-body">
                                        <p th:utext="${newsEntry.content}">This release adds support for adducts, currently limited to those supported by <a href="https://lifs.isas.de/lipidcreator" target="_blank">LipidCreator</a>. Thus, any lipid shorthand notation name can now be combined with an adduct. Please note that adduct charges need to be explicit, thus '[M+H]+' needs to be provided as '[M+H]1+'.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--                        <li>
                                                    <div class="card timeline-card">
                                                        <div class="card-header">
                                                            <a href="https://github.com/lifs-tools/goslin-webapp/releases/tag/v1.0.18" target="_blank" class="float-right">v1.0.18 - April 21st, 2014&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a>
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="card-title">Initial version published</h6>
                                                            <p>Initial public release version of the Goslin web application. This release contains support for automatic linking of normalized lipid names to SwissLipids and LIPID MAPS&REG; entries. This requires preprocessing of a subset of the LIPID MAPS&REG; structure database (LMSD) and the SwissLipids 'lipids' database. Each lipid name and abbreviations thereof, if available, are parsed with the parser specific to the database and normalized. This normalized lipid name is the used as a dynamic lookup by the goslin web application to retrieve the matching entry URIs from the preprocessed database tables.</p>
                                                        </div>
                                                </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div th:fragment="citing">
            <div class="card my-2">
                <div class="card-body">
                    <h4>Citing <span>Goslin</span></h4>
                    <ol class="text-muted small">
                        <li><a class="text-muted" href="https://www.biorxiv.org/content/10.1101/2020.04.17.046656v1" target="_blank">Goslin - A Grammar of Succinct Lipid Nomenclature. Dominik Kopczynski, Nils Hoffmann, Bing Peng, Robert Ahrends. 2020 (BioRxiv Preprint)&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div th:fragment="acknowledgements">
            <div class="card my-2">
                <div class="card-body">
                    <h4>Acknowledgements</h4>
                    <p>In order to test lipid name parsing, sum formula calculation and cross-linking to reported lipids, the following resources were crucial for Goslin and the Goslin web application:</p>
                    <ol class="text-muted small">
                        <li><a class="text-muted" href="https://www.swisslipids.org" target="_blank">SwissLipids database&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                        <li><a class="text-muted" href="https://www.lipidmaps.org" target="_blank">LIPID MAPS&REG; database&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                        <li><a class="text-muted" href="https://hmdb.ca/" target="_blank">HMDB database&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a></li>
                    </ol>
                    <p>Please see the <a class="text-muted" href="https://github.com/lifs-tools/goslin">Goslin GitHub repository&nbsp;<span class="oi oi-external-link" aria-hidden="true"></span></a> for details on the database versions, dates and data that we used for development and testing.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
