.card-img-right {
    max-width: 25%;
    max-height: -moz-fill-available;
    max-height: -webkit-fill-available;
    max-height: fill-available;
    width: 50%;
    height: 50%;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
#validationResultTable_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
.form-group {
    padding-right: 1rem;
    margin-bottom: 0.1rem;
}
p.matomo-optout span.js label {
    display: inline;
}
.table-fa thead th {
    font-weight: normal;
}

.service-card {
    padding: 0.5rem;
}
div.dataTables_wrapper div.dataTables_length label {
    padding-right: 1rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 1rem 0;
    padding-top: 1rem;
    padding-left: 20px;
    padding-bottom: 5px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #49b0dc;
    margin-top: 1.4rem;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*
.timeline-arrow {
    border-top: 0.75rem solid transparent;
    border-right: 1rem solid #49b0dc4d;
    border-bottom: 0.75rem solid transparent;
    display: block;
    position: absolute;
    left: -1rem;
    margin-top: 0.1rem;
}

*/
#toc > ul > li > a.nav-link:hover {
    color: #49b0dc;
    border-left: 1px solid #49b0dc;
}

#toc > ul > li > a.active {
    color: #137dc0;
    border-left: 2px solid #137dc0;
}
pre {
    background-color: #f6f8fa;
}
.pl-c1, .pl-s .pl-v {
    color: #005cc5;
}
.pl-k {
    color: #d73a49;
}
.pl-smw, .pl-v {
    color: #e36209;
}
.pl-e, .pl-en {
    color: #6f42c1;
}

.form-control-dbhits {
    height: auto;
}

.list-item-dbhits {
    padding: 0;
}

.sum-formula {
    font-variant-numeric: oldstyle-nums;
}
.callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-color: rgb(238, 238, 238);
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-info {
    border-left-color: #bee5eb;
    background-color: #d1ecf1;
}

.callout-warn {
    border-left-color: #ffeeba;
    background-color: #fff3cd;
}